<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript">
        function showFriends() {
            document.getElementById('friend_list').style.display = "block";
        }
    </script>
</head>
<body>
    <div class="topbar">
        <a href="/dashboard">Home</a>
        <a href="/logout">Logout</a>
        <a href="/dashboard/edit_activity/{{activity.id}}">Edit activity</a>
    </div>

    <h1>{{ activity.idea.title }}</h1>    
    <h2>{{ activity.idea.description }}</h2>
    <h3>Deadline: {{ activity.date }}</h3>
    <h3>Created by: {{ activity.activity_creator.first_name }} {{ activity.activity_creator.last_name }}</h3>
    <h3>Who has been tagged?</h3>
    {% for person in people %}
        <p>
            {% if person.id == request.session.userid %}
                <a href="/dashboard">{{ person.first_name}} {{ person.last_name }}</a>
            {% else %}
                <a href="/dashboard/{{person.id}}">{{ person.first_name}} {{ person.last_name }}</a>
            {% endif %}
            {% if activity.activity_creator == user %}
                <a href='/dashboard/remove_person/{{activity.id}}/{{person.id}}'>Untag</a>
            {% endif %}
        </p>
    {% endfor %} 
        
    <button onclick="showFriends()">Tag more people?</button>
    <form action='/dashboard/add_people/{{activity.id}}' method='post' id="friend_list" style="display:none;">
        {% csrf_token %} 
        <div style="height: 6em; width: 12em; overflow: auto;">
            {% for friend in friends %}
                <input type="checkbox" name="people[]" value={{friend.id}}> {{ friend.first_name }} {{friend.last_name}}<br>
            {% endfor %}
        </div>
        <input type="submit" value="Add people to the activity">
    </form>

    <h3>Posts</h3>
    {% for post in posts reversed%}
        <p>{{ post.user.first_name }} says - {{ post.content }}</p>
        <p>{{ post.created_at|date:"d F Y, P e"}}</p>
        {% if user == post.user or user == activity.activity_creator %}
            <form method="get" action="/dashboard/remove_post/{{activity.id}}/{{post.id}}">
                {% csrf_token %} 
                <input type="submit" value="Remove post">
            </form>
        {% endif %}
    {% endfor %}


    <h3>Add a post</h3>
    <form action="/dashboard/submit_post/{{activity.id}}" method = 'post'>
        {% csrf_token %}
        <textarea name="content" cols="90" rows="6"></textarea><br>
        <input type="submit" value="Add Post">
    </form>

</body>
</html>