<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Idea</title>
</head>
<body>
    <div class="topbar">
        <a href="/dashboard">Home</a>
        <a href="/dashboard/idea/{{ idea.id }}">Return to idea</a>
        <a href="/logout">Logout</a>
    </div>
    
    <h1>Edit idea</h1>

    <form action="/dashboard/edit_idea_process/{{ idea.id }}" method = "post">
        {% csrf_token %}
        <p>Title <input type="text" name="title" value="{{idea.title}}"></p>
        <p>Upload picture (will work out how to do this)</p>
        <p>Description</p>
        <p><textarea name="description" cols="30" rows="10">{{ idea.description }}</textarea></p>
        <p>Toughness 
            <select name="toughness">
                {% if idea.toughness == 1 %}
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                {% elif idea.toughness == 2 %}
                    <option value="1">1</option>
                    <option value="2" selected>2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                {% elif idea.toughness == 3 %}
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3" selected>3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                {% elif idea.toughness == 4 %}
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4" selected>4</option>
                    <option value="5">5</option>
                {% else %}
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5" selected>5</option>
                {% endif %}
            </select>stars
        </p>
        <p>Time commitment
            <select name="time">
                {% if idea.time == 1 %}
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                {% elif idea.time == 2 %}
                    <option value="1">1</option>
                    <option value="2" selected>2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                {% elif idea.time == 3 %}
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3" selected>3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                {% elif idea.time == 4 %}
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4" selected>4</option>
                    <option value="5">5</option>
                {% else %}
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5" selected>5</option>
                {% endif %}
            </select>rating
        </p>
        <p>Cost 
            <select name="cost">
                {% if idea.cost == 1 %}
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                {% elif idea.cost == 2 %}
                    <option value="1">1</option>
                    <option value="2" selected>2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                {% elif idea.cost == 3 %}
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3" selected>3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                {% elif idea.cost == 4 %}
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4" selected>4</option>
                    <option value="5">5</option>
                {% else %}
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5" selected>5</option>
                {% endif %}
            </select>pound signs
        </p>
        {% if idea.link == null %}
            <p>Add a hyperlink? <input type="text" name="link"></p>
        {% else %}
            <p>Edit hyperlink? <input type="text" name="link" value="{{ idea.link }}"></p>
        {% endif %}
        <input type="submit" value="Edit Idea">
    </form>
</body>
</html>