<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Idea</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">

        $( document ).ready(function() {
            var list = document.getElementById("friend_list");
            if(name=='group'){
                list.style.display = "block"
            }else{
                list.style.display = "none"
            }
        })

        function showfield(name){
            var list = document.getElementById("friend_list");
            if(name=='group'){
                list.style.display = "block"
            }else{
                list.style.display = "none"
            }
        }

    </script>

</head>
<body>
    <div class="topbar">
        <a href="/dashboard">Home</a>
        <a href="/logout">Logout</a>
    </div>

    <h1>{{ idea.title }}</h1>    
    <h2>Description: </h2>
    <h2> {{ idea.description }}</h2>

    {% if reviews %}
        <h3>Reviews</h3>
    {% endif %}


    {% for review in reviews %}
        <p>{{review.stars}}</p>
        <p>{{ review.user.first_name }} says - {{ review.review }}</p>
        <p>Date added: {{ review.created_at|date:"d F Y" }}</p>
    {% endfor %}

    <h1>Add to your bucket list!</h1>
        <form action='/dashboard/add_activity/{{idea.id}}' method='post'>
            {% csrf_token %}

            <p>
                Do you want to tag friends with this activity?
                <select onchange="showfield(this.options[this.selectedIndex].value)">
                    <option value="solo">I'm going solo</option>
                    <option value="group">With friends</option>
                </select>
 
                <div id="friend_list" style="height: 6em; width: 12em; overflow: auto;">
                    <input type='hidden' name="people[]" value={{user.id}}>   
                    {% for friend in friends %}
                        <input type="checkbox" name="people[]" value={{friend.id}}> {{ friend.first_name }} {{friend.last_name}}<br>
                    {% endfor %}
                </div>
            <p>
                Date to complete by <input type="date" name="date">
            </p>
            <p>
                Visibility 
                <select name="privacy">
                    <option value=1>Public</option>
                    <option value=2>Friends only</option>
                    <option value=3>Only visible to me</option>
                </select>
            </p>

            <input type="submit" value="Add to bucket list">
        </form>
    <!-- <form action="/dashboard/submit_review/{{book.id}}" method = 'post'>
        {% csrf_token %}
        <textarea name="review" cols="30" rows="10"></textarea><br>
        <label for="rating">Rating 
            <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>stars
        </label>
        <input type="submit" value="Add Review">
    </form> -->


</body>
</html>

