<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
</head>
<body>
    <h1>Hey, {{ request.session.first_name }}!!</h1>

    <div class="topbar">
        <a href="/dashboard/ideas">Get inspiration</a> | 
        <a href="/dashboard/add_activity">Add an activity</a> | 
        {% if user.admin > 1 %}
            <a href="/dashboard/add_idea">Add an idea</a> | 
        {% endif %}
        <a href="/logout">Logout</a> | 
        <a href="/edit_profile">Edit profile</a> |
        <a href="/friends">View and add friends</a> | 
        <a href="/dashboard/stats">Stats</a>
    </div>
    
    <div class="activitystatus">
        <h1>Activities you've been tagged in</h1>
        {% for activity in uncompleted %}
            <p><a href="/dashboard/activity/{{activity.id}}">{{ activity.title }}</a> - {{ activity.description}}</p>
            {% if activity.people.all|length > 1 %}
                <p>with: </p> 
                <ul>
                    {% for person in activity.people.all %}
                        {% if person.id != request.session.userid %}
                            <li><a href='/dashboard/{{person.id}}'>{{ person.first_name }} {{ person.last_name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
            <form action='dashboard/completed_activity_confirmation/{{activity.id}}'>
                <input type="submit" value="Done!">
            </form> 
        {% endfor %}

        <h1>Activities you've done</h1>
        {% for activity in completed %}
            <p><a href="/dashboard/activity/{{activity.id}}">{{ activity.title }}</a> - {{ activity.description}}</p>
            {% if activity.people.all|length > 1 %}
                <p>with: </p> 
                <ul>
                    {% for person in activity.people.all %}
                        {% if person.id != request.session.userid %}
                            <li><a href='/dashboard/{{person.id}}'>{{ person.first_name }} {{ person.last_name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
            <form action='dashboard/completed_activity/{{activity.id}}/{{request.session.userid}}'>
                <input type="submit" value="Actually, maybe I didn't!">
            </form>  
        {% endfor %}
    </div>

    <div class="sidebar">
        
        <div class="newsfeed">
            <h3>What have your friends been up to</h3>
        </div>

        <div class="ideas">
            <h3>Inspiration!</h3>
            {% for i in idea %}
                <h5><a href="/dashboard/idea/{{i.id}}">{{i.title}}</a> ?!?!</h5>
            {% endfor %}
        </div>
    </div>

</body>
</html>